.left-part {
    float: left;
    width: 40vw;
    border-left: 10vw;
    border-right: 5vm;
}

.right-part {
    float: right;
    width: 35vw;
    border-right: 10vm;
}

.answer {
    margin-left: 25px;
}