a {
    text-decoration: none;
    color: #2a5885;
    cursor: pointer;
}

body{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    width: 1427px;
    background-color: #edeef0;
    margin: 0;
}

ol {
    padding: 0;
    margin: 0 0 10px;
}

li {
    list-style-type: none;
}

nav {
    margin: 0;
}

h1 {
    display: block;
}

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.main-content {
    width: 960px;
    padding: 0 15px;
    margin: 0 auto;
}

.float-left {
    float: left;
}